.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 300ms;
	-moz-animation-duration: 300ms;
}

.slide.in {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-webkit-animation-name: slideinfromright;
	-moz-animation-name: slideinfromright;
}
.slide.out {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-moz-animation-name: slideouttoleft;
}
.slide.in.reverse {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-webkit-animation-name: slideinfromleft;
	-moz-animation-name: slideinfromleft;
}
.slide.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
}

.slideup.out {
	-webkit-animation-name: dontmove;
	z-index: 0;
}
.slideup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfrombottom;
	z-index: 10;
}
.slideup.in.reverse {
	z-index: 0;
	-webkit-animation-name: dontmove;
}
.slideup.out.reverse {
	-webkit-transform: translateY(100%);
	z-index: 10;
	-webkit-animation-name: slideouttobottom;
}

.slidedown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfromtop;
	z-index: 10;
}
.slidedown.out {
	-webkit-animation-name: dontmove;
	z-index: 0;
}
.slidedown.in.reverse {
	z-index: 0;
	-webkit-animation-name: dontmove;
}
.slidedown.out.reverse {
	-webkit-transform: translateY(-100%);
	z-index: 10;
	-webkit-animation-name: slideouttotop;
}

.fade.out {
	z-index: 0;
	-webkit-animation-name: fadeout;
}
.fade.in {
	opacity: 1;
	z-index: 10;
	-webkit-animation-name: fadein;
}
.pop {
	-webkit-transform-origin: 50% 50%;
}

.pop.in {
	-webkit-transform: scale(1);
    opacity: 1;
	-webkit-animation-name: popin;
	z-index: 10;
}
.pop.in.reverse {
	z-index: 0;
	-webkit-animation-name: dontmove;
}
.pop.out.reverse {
	-webkit-transform: scale(.2);
	opacity: 0;
	-webkit-animation-name: popout;
	z-index: 10;
}

.flip {
	-webkit-animation-duration: .65s;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}

.flip.out {
	-webkit-transform: rotateY(-180deg) scale(.8);
	-webkit-animation-name: flipouttoleft;
}

.flip.in {
	-webkit-transform: rotateY(0) scale(1);
	-webkit-animation-name: flipinfromleft;
}

/* Shake it all about */

.flip.out.reverse {
	-webkit-transform: rotateY(180deg) scale(.8);
	-webkit-animation-name: flipouttoright;
}

.flip.in.reverse {
	-webkit-transform: rotateY(0) scale(1);
	-webkit-animation-name: flipinfromright;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0%); }
}
@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
@-webkit-keyframes slideinfromtop {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideinfrombottom {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideouttobottom {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes slideouttotop {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes dontmove {
    from { opacity: 1; }
    to { opacity: 1; }
}
@-webkit-keyframes popin {
    from {
        -webkit-transform: scale(.2);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(.2);
        opacity: 0;
    }
}

@-webkit-keyframes flipinfromright {
    from { -webkit-transform: rotateY(-180deg) scale(.8); }
    to { -webkit-transform: rotateY(0) scale(1); }
}

@-webkit-keyframes flipinfromleft {
    from { -webkit-transform: rotateY(180deg) scale(.8); }
    to { -webkit-transform: rotateY(0) scale(1); }
}

@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0) scale(1); }
    to { -webkit-transform: rotateY(-180deg) scale(.8); }
}

@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) scale(1); }
    to { -webkit-transform: rotateY(180deg) scale(.8); }
}

.spin  {
	-webkit-transform: rotate(360deg);
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes spin {
	from {-webkit-transform: rotate(0deg);}
  	to {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes margin-top-rotate180 {
	from {-webkit-transform: rotate(180deg);}
  	to {-webkit-transform: rotate(0deg);}
}
.margin-top-rotate180 {
	-webkit-animation-name: margin-top-rotate180;
	-webkit-animation-duration: 200ms;
	-webkit-animation-iteration-count:  1;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes margin-top-rotate-180 {
	from {-webkit-transform: rotate(0deg);}
  	to {-webkit-transform: rotate(180deg);}
}
.margin-top-rotate-180 {
	-webkit-animation-name: margin-top-rotate-180;
	-webkit-animation-duration: 200ms;
	-webkit-animation-iteration-count:  1;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading-spinner-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  12.49% {
    -webkit-transform: rotate(0deg);
  }
  12.50% {
    -webkit-transform: rotate(45deg);
  }

  24.99% {
    -webkit-transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }

  37.49% {
    -webkit-transform: rotate(90deg);
  }
  37.50% {
    -webkit-transform: rotate(135deg);
  }

  49.99% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }

  62.49% {
    -webkit-transform: rotate(180deg);
  }
  62.50% {
    -webkit-transform: rotate(225deg);
  }

  74.99% {
    -webkit-transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }

  87.49% {
    -webkit-transform: rotate(270deg);
  }
  87.50% {
    -webkit-transform: rotate(315deg);
  }

  100% {
    -webkit-transform: rotate(315deg);
  }
}
